.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 150px;
    background-color: #181818;
    color: #FFF;
    height: 100vh;
}

.left {
    max-width: 800px;
}

.left h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.5em;
}

.left h1::first-letter {
    color: rgb(31, 255, 11);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.left button {
    border: 0;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 1.2em;
    width: 190px;
    transition: all .4s ease;
    background-color: rgb(31, 255, 11);
}

.left button:hover {
    width: 200px;

}

.right {
    transform: rotate(-25deg) scaleX(-1);
}