.container {
    position: absolute;
    top: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 92px;

    /* background-color: #181818; */

    color: #ffffff;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.5em;

}

.logo {
    cursor: pointer;
    fill: black;
    stroke: #ffffff;
}

.list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;

}

.container div svg {
    fill: #ffffff;
    cursor: pointer;
}

.list ul li {
    position: relative;
}

.list ul li a::before {
    content: "";
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3.5px;
    border-radius: 15px;
    background-color: rgb(199, 202, 0);
    transition: all .4s ease;
}

.list ul li a:hover::before {
    width: 85%;
}

.list ul li a:hover {
    color: rgb(254, 255, 205);
}